.board {
    aspect-ratio: 1/2;
    overflow: hidden;
    width: calc(min(calc(100dvh * 1/2 - 4px), 100vw));

    &__container {
    }

    &__btn {
        img {
            cursor: pointer;
            user-select: none;
        }
    }
}