.board {
    width: calc(min(calc(100vh * 10 / 30 - 20px), 100vw));

    &__container {
        aspect-ratio: 4/5;
    }

    &__btn {
        img {
            cursor: pointer;
            user-select: none;
        }
    }
}